/* elements */
/* line 2, ../sass/destruction.scss */
html body {
  font: 16px/24px 'Vollkorn', serif;
  color: #333;
  text-align: justify;
  margin: 0 auto;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

td image {
  width: 100%;
}

/* line 9, ../sass/destruction.scss */
ul {
  list-style: disc outside none;
  line-height: 1.8;
}

a {
  color:  #736960;
}

a:hover, a:focus, a:active {
  color: #693;
  text-decoration: none;
}

.nav > li > a:hover, .nav > li > a:focus {
  background: none;
}

/* elements */
/* helpers  */
/* line 17, ../sass/destruction.scss */
.margin.top20 {
  display: block;
  margin-top: 20px;
}

/* line 22, ../sass/destruction.scss */
.margin.top40 {
  display: block;
  margin-top: 40px;
}

/* line 27, ../sass/destruction.scss */
.margin.top60 {
  display: block;
  margin-top: 60px;
}

/* line 32, ../sass/destruction.scss */
.nav > li {
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 0px 10px;
  line-height: 10px;
}

/* line 40, ../sass/destruction.scss */
.nav .nav ul {
  list-style-position: outside;
  list-style-type: none;
}

/* helpers  */
/* line 46, ../sass/destruction.scss */
.head, .footer {
  display: block;
}
/* line 50, ../sass/destruction.scss */
/* line 56, ../sass/destruction.scss */
.head .header-nav, .footer .header-nav {
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  margin: 0px auto;
}
/* line 62, ../sass/destruction.scss */
.head, .footer {
  display: block;
  text-align: right;
  line-height: 44px;
  padding: 0px;
  margin: 0px;
}

.footer {
  text-transform: uppercase;
}
/* line 73, ../sass/destruction.scss */
/* line 80, ../sass/destruction.scss */

/* line 88, ../sass/destruction.scss */
#content-wrapper {
  position: relative;
  height: 100%;
  margin: 0px auto;
  padding: 10px 0px;
}

/* line 96, ../sass/destruction.scss */
.content-post {
  width: 100%;
}

/* line 100, ../sass/destruction.scss */
.post:first-child {
  padding-top: 0px;
  margin-top: 0px;
}

/* line 105, ../sass/destruction.scss */
.fadeIn {
  animation-name: fadeIn;
}

/* line 109, ../sass/destruction.scss */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* line 114, ../sass/destruction.scss */
.entry-wrap {
  overflow: hidden;
  padding: 0px;
}

/* line 119, ../sass/destruction.scss */
.entry-content {
  position: relative;
  margin-top: 20px;
}

/* line 126, ../sass/destruction.scss */
.clearfix {
  height: 1%;
}

/* line 130, ../sass/destruction.scss */
.entry-content header {
  word-wrap: break-word;
}

/* line 134, ../sass/destruction.scss */

/* line 138, ../sass/destruction.scss */
.entry-title {
  text-transform: uppercase;
  font-family: 'Unica One', sans-serif;
}

/* line 151, ../sass/destruction.scss */
#content {
}

.white-background {
}

table {
  border: 0px;
  border-color: #fff;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border: 0px;
  border-color: #fff;
  border-top: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
}

.footer {
  padding-top: 40px;
}

.pager li > a, .pager li > span {
  border: none;
}


#toc ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#toc li {
  padding-left: 1em;
  text-indent: -1em;
}

#toc li:before {
  content: "-";
  color: #693;
  padding-right: 5px;
}
