{% extends "base.html" %}
{% block title %} {{ article.title }}  {% endblock %}
{% block view %}
<div class="row">
  <div class="content-post">
    <div class="col-md-12">
      <article class="post">
        <div class="entry-wrap clearfix">
          <header class="post-header">
            <h1 class="text-uppercase entry-title">
              {{ article.title  }}
              <small class="text-muted">
                {{ article.stats['read_mins'] }} min read
              </small>
            </h1>
          </header>
          <div class="row">
            <div class="col-lg-12 hidden-xs hidden-sm">
              {{article.toc}}
            </div>
          </div>
          <div class="entry-content">
            {% if article.toc %}
            {% endif %}
            <p>
              {{ article.content }}
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
{% endblock %}
