<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>
          {% block title %}{{SITENAME}}{% endblock %}
        </title>
        <meta name="description" content="">
        <link rel="stylesheet" href="/theme/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/theme/css/main.css" />
        <link rel="stylesheet" href="/theme/css/destruction.css" />
        <link rel="stylesheet" type="text/css" href="/theme/css/destruction.css" media="print" />
        <link href="https://fonts.googleapis.com/css?family=Unica+One|Vollkorn" rel="stylesheet" /> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.23/webcomponents.min.js" type="text/javascript"></script>
        <!-- endbuild -->
      <link rel="import" href="http://polygit.org/components/polymer/polymer.html" />
    </head>
    <body ng-app="frontApp">
        <!--[if lt IE 7]>
        <p class="browsehappy">
            You are using an <strong>outdated</strong> browser.
            Please <a href="http://browsehappy.com/">upgrade your browser</a>
            to improve your experience.
        </p>
        <![endif]-->
        <div class="container">
            <div class="head">
                <div class="inner">
                    <div class="header-nav" role="navigation">
                        <div class="menu-main-container">
                            <ul id="menu-main" class="nav clearfix">
                              <li class="menu-item">
                                  <a href="/">
                                    &#8962;
                                  </a>
                              </li>
                              {% for page in pages %}
                              <li class="menu-item">
                                <a href="/{{ page.url }}"> {{ page.title | upper }} </a>
                              </li>
                              {% endfor %}
                              <li class="menu-item">
                                  <a href="/archives.html">
                                    ξ
                                  </a>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-view=""></div>
                <div id="content-wrapper" class="clearfix white-background">
                    {% block view %}
                    {% endblock %}
                </div>
            <div class="footer">
                <div class="inner">
                  <ul id="menu-main" class="nav clearfix">
                    {% for name, link in LINKS %}
                    <li class="menu-item">
                      <a class="external-link menu-item" href="{{link}}" target="_blank">{{name}}</a> 
                    </li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
        </div>
    </body>
</html>
