{% extends "base.html" %}
{% block view %}

{% for article in articles_page.object_list %}
<div class="row">
    <div class="content-post">
        <div class="col-md-12">
            <article class="post">
                <div class="entry-wrap clearfix">
                    <header class="post-header">
                        <a href="/{{article.url}}">
                            <h1 class="text-uppercase entry-title">
                               {{ article.title  }}
                              <small class="text-muted">
                              {{ article.stats['read_mins'] }} min read
                            </small>
                            </h1>
                        </a>
                    </header>
                    <div class="entry-content">
                        {{ article.summary }}
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
{% endfor %}
{% include "pagination.html"%}
{% endblock %}
