{% extends "base.html" %}
{% block view %}

{% for article in articles_page.object_list %}
<div class="row">
    <div class="content-post">
        <div class="col-md-12">
            <article class="post">
                <div class="entry-wrap clearfix">
                    <header class="post-header">
                        <a href="/{{article.url}}">
                            <h2 class="text-uppercase entry-title">
                                {{ article.title  }}
                            </h2>
                        </a>
                    </header>
                    <p>
                        {{ article.summary }}
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>
{% endfor %}
{% include "pagination.html"%}
{% endblock %}
