{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block view %}
<div class="row">
    <div class="content-post">
        <div class="col-md-12">
            <article class="post">
                <div class="entry-wrap clearfix">
                    <header class="post-header">
                        <h1 class="text-uppercase entry-title">
                            {{ page.title  }}
                        </h1>
                    </header>
                    <div class="entry-content">
                    <p>
                        {{ page.content }}
                    </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}
