/* elements */
html body {
    font-family: "Lato", Helvetica, Arial,
    sans-serif;
    font-size: 14px;
    background: #f7f7f7;
}

ul {
    list-style: disc outside none;
    line-height: 1.8;
}

/* elements */

/* helpers  */
.margin.top20 {
    display    : block;
    margin-top : 20px;
}

.margin.top40 {
    display    : block;
    margin-top : 40px;
}

.margin.top60 {
    display    : block;
    margin-top : 60px;
}

.nav > li {
    text-align: center;
    display: inline-block;
    position: relative;
    padding: 0px 10px;
    line-height: 10px;
}

.nav .nav ul {
    list-style-position: outside;
    list-style-type: none;
}

/* helpers  */
.head, .footer {
    background: #000;
    display: block;
    color: #f7f7f7;
    .inner {
        max-width: 800px;
        margin: 0px auto;
        padding: 55px 0px;
        text-align: center;
    }
    .header-nav {
        padding-top: 10px;
        display: inline-block;
        text-align: center;
        margin: 0px auto;
    }
    .logo-text {
        font-family: "Oswald", Helvetica, Arial,
        sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        display: block;
        text-align: center;
        line-height: 44px;
        padding: 0px;
        margin: 0px;
    }
    a, a:visited {
        text-decoration: none !important;
        color: #f6f6f6 !important;
        background: none !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
    }

    a:hover, a:active, a:focus {
        background: none !important;
        color: #f6f6f6 !important;
        border-bottom: 1px solid #74BEE1 !important;
    }

}

#content-wrapper {
    position: relative;
    height: 100%;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.content-post {
    width: 100%;
}

.post:first-child {
    padding-top: 0px;
    margin-top: 0px;
}

.fadeIn {
    animation-name: fadeIn;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.entry-wrap {
    overflow: hidden;
    padding: 0px;
}

.entry-content {
    width: 80%;
    max-width: 800px;
    margin: 60px auto;
    position: relative;
}

.clearfix {
    height: 1%;
}

.entry-content header {
    word-wrap: break-word;
}

.post-header {
    margin-bottom: 30px;
}

.entry-title {
    text-align: center;
    font-size: 24px;
    line-height: 44p;
    font-weight: 600px;
    width:  80%;
    margin: 0px auto;
    color: #444;
    font-family: "Oswald", Helvetica, Arial,
        sans-serif;
    text-transform: uppercase;
}

#content { background: #fff; }
